.backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 200vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50px;
}

.alert-box {
    position: fixed;
    top: 30vh;
    left: 20vp;
    width: 60vw;
    padding: 16px;
    z-index: 100px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.alert-box-actions {
    text-align: right;
}